/* Global Light and Dark Mode Styles */
body {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #070707;
    color:black;
    
}
.card.dark-mode{
    background-color: #e0e0e0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #f8f9fa;
    color: #121212;
}

.navbar.dark-mode {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

.dark-mode-toggle {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.dark-mode-toggle input {
    display: none;
}

.toggle-slider {
    position: relative;
    width: 40px;
    height: 20px;
    background: #ccc;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.toggle-slider::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
}

.dark-mode-toggle input:checked+.toggle-slider {
    background: #007bff;
}

.dark-mode-toggle input:checked+.toggle-slider::before {
    transform: translateX(20px);
}