

.card {
    width: 200px; 
    height: 250px; 
    overflow: hidden; 
    text-align: center; 
    align-items: center;
    justify-content: center;
    background-color: var(--card_pri_bg);
}

.card img {
    width: 12rem;  
    height: 10rem;
    border-radius: 0.5rem;
    object-fit: cover; 
}

.card:hover {
    background-color: rgb(181, 190, 190);
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.card h3 {
    color: red; 
}

.card p {
    color: red;
}

.play_btn {
    display: none !important;
}

.card:hover .play_btn {
    display: block !important;
    transition: all 0.3s ease-in;
}